.c-value{
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 46, 87);
    margin-left: 12px;
}
.checkboxes{
    margin-left: 6px;
    display: block;
    margin-top: 50px;
    margin-left: -155px;
}