h2{
    font-size: 37px;
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 150px;
    margin-top: 185px;
}

.emaili{
    height: 30px;
    width: 215px;
    font-size: 20px;
    color: rgb(0, 131, 163);
    font-weight: bold;
    border-radius: 4px;
    margin-top: 115px;
    margin-left: 5px;
    border-style: solid;
    border-color: black;
}

.emaili::placeholder{
    font-size: 20px;
    color: rgb(0, 131, 163);
    font-weight: bold;
}
.passwordi{
    height: 30px;
    width: 215px;
    font-size: 20px;
    color: rgb(0, 131, 163);
    font-weight: bold;
    margin-left: 5px;
    border-color: black;
    border-radius: 4px;
    margin-top: 105px;
}
.passwordi::placeholder{
    font-size: 20px;
    color: rgb(0, 131, 163);
    font-weight: bold;
}

.efl{
    font-size: 27px;
    color: white;
    font-weight: bold;
    margin-left: 45px;
}
.pfl{
    font-size: 27px;
    color: white;
    font-weight: bold;
    margin-left: 45px;
}
.lsubmit{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    padding: 7px;
    font-weight: bold;
    height: 48px;
    background-color: #f2f2f2;
    margin-left: 600px;
    margin-top: -155px;
    position: absolute;
}
.emaill-error{
    font-size: 27px;
    color: white;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 45px;
}
.passwordl-error{
    font-size: 27px;
    color: white;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 45px;
}
.login{
    height: 433px;
    background-image: url('../../public/formimage.jpg');
    background-repeat: no-repeat;
    width: 1250px;
    border: 1px solid darkgrey;
    background-size: cover;
}

.lsubmit:hover{
    cursor: pointer;
    color: goldenrod;
}