.one{
    text-align: center;
    margin-top: 50px;;
    margin-bottom: 50px;
}
.barone {
    margin-left: 170px;;
}
.label1{
    font-size: 23px;
    font-weight: bold;
}
.two{
    text-align: center;
    margin-top: 50px;;
    margin-bottom: 50px;
}
.bartwo {
    margin-left: 170px;;
}
.label2{
    font-size: 23px;
    font-weight: bold;
}
.three{
    text-align: center;
    margin-top: 50px;;
    margin-bottom: 50px;
}
.barthree {
    margin-left: 170px;;
}
.label3{
    font-size: 23px;
    font-weight: bold;
}
.four{
    text-align: center;
    margin-top: 50px;;
    margin-bottom: 50px;
}
.barfour {
    margin-left: 170px;;
}
.label4{
    font-size: 23px;
    font-weight: bold;
}