.contained{
    border: 1px solid #848484;
    border-radius: 7px;
    width: 250px;
    height: 275px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 25px;;
}
.picture{
    height: 135px; 
    width: 225px;
    border-radius: 9px;
}
.text{
    text-decoration: none;
    border: none;
}
.ttname{
    color: #181818;
    font-weight: bold;
    font-size: 27px;
    margin-top: 5px;
    text-decoration: none;
    width: 200px;
    margin-right: 25px;
}
