.away-div{
    display: flex;
    align-self: center;
    text-align: center;
    width: 1215px;
    margin-left: 15px;;
    border: 2px solid grey;
    border-radius: 5px;
    flex-wrap: wrap;
}
.stories{
    margin-bottom: 25px;
}
.search{
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    font-size: 25px;
    padding: 4px;
    font-weight: bold;
    width: 515px;
    height: 35px;
    color: rgb(0,47,87);
    display: inline;
    background-color: #f2f2f2;
    margin-top: 75px;
}
.exists-div{
    display: flex;
    align-self: center;
    text-align: center;
    width: 1215px;
    border: 2px solid grey;
    border-radius: 5px;;
    margin-bottom: 20px;
    flex-wrap: wrap;
    margin-left: -3px;;
}
.dc-blogs{
    text-decoration: none;
}
